@using ProjectManagementSystem.Models
@{
    ViewBag.Title = "ActivityView";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>ActivityView</h2>
<link href="~/Scripts/dataTables.dataTables.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <div style="width:90%; margin:0 auto;">
        <table id="activityGrid" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>USER</th>
                    <th>DATE</th>
                    <th>ACTION</th>
                    <th>DESCRIPTION</th>
                    <th>DEPARTMENT</th>
                    <th>DIVISION</th>
                    @*@foreach (var item in Model)
                            {
                            <tr>
                                <td>@item.log_id</td>
                                <td>@item.username</td>
                                <td>@item.datetime_performed</td>
                                <td>@item.action</td>
                                <td>@item.description</td>
                                <td>@item.department</td>
                                <td>@item.division</td>
                            </tr>
                        }*@
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @*<script src="https://cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>*@
    <script>
        $(document).ready(function () {
            var activityTable = $('#activityGrid').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "@Url.Action("ActivityList", "Checklist")",
                    "type": "Post"
                },
                "columns": [
                    { "data": "log_id" },
                    { "data": "user" },
                    { "data": "date" },
                    { "data": "action" },
                    { "data": "description" },
                    { "data": "department" },
                    { "data": "division" }
                ],
            });
        });
    </script>

}