@model List<ProjectManagementSystem.Models.RegistrationTbl>
@using System;

@{
    ViewBag.Title = "Project Onboarding";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                @*<h1 class="m-0">@ViewBag.Title</h1>*@
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Dashboard", "Checklist")">Home</a></li>
                    <li class="breadcrumb-item active">Add Project</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="card" style="background-color: white;">
                    <div class="card-header" style="color:#66339A">
                        <h3 class="card-title"><strong>Project Onboarding Form</strong></h3>
                    </div>
                    <!-- form start -->
                    <form id="onboardingForm" name="onboardingForm" enctype="multipart/form-data">
                        @Html.AntiForgeryToken()

                        <div class="card-body">
                            <!-- project title dropdown -->
                            <div class="form-group">
                                <label for="projectTitle">Select Project Title</label>
                                <select class="form-control" id="projectTitle" name="projectTitle">
                                    <option value="" disabled selected>Select a Project</option>
                                    @foreach (var project in Model)
                                    {
                                        <option value="@project.registration_id">@project.project_name</option>
                                    }
                                </select>
                            </div>

                            <!-- file upload -->
                            <div class="form-group">
                                <label for="csv-file-input">Upload Schedule</label>
                                <input type="file" id="csv-file-input" accept=".csv" class="form-control-file" />
                                <small class="form-text text-muted">Accepted format: .csv</small>
                            </div>

                        </div>

                        <!-- button-->
                        <div class="card-footer text-right">
                            @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>*@
                            <button id="addProjButton" type="button" class="btn btn-primary" onclick="AddProject()">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-lg-12">
                <div id="chart_container" class="p-4 bg-light border rounded"></div>
            </div>
        </div>
    </div>
</div>

<!-- Add Project Form Script -->
@section scripts{
    <script src="~/AdminLTE-3.2.0/plugins/jquery/jquery.min.js"></script>

    <script>
        function AddProject() {
            var form = $('form[name="onboardingForm"]');
            var fileUpload = document.getElementById("csv-file-input");
            var projectTitle = $('#projectTitle').val();

            //if (!projectTitle) {
            //    alert("Please select a project title.");
            //    return;
            //}

          

            if (!fileUpload.value) {
                alert("Please upload a CSV file.");
                return;
            }

            var formData = new FormData();
            var file = $("#csv-file-input").get(0).files;

            if (file.length > 0) {
                formData.append("pmcsv", file[0]);
                formData.append("projectTitle", projectTitle); 

                $.ajax({
                    url: "@Url.Action("AddProjectUpload", "Checklist")",
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: formData, projectTitle,
                    success: function (res) {
                        if (res.status) {
                            $.notify(res.message, { position: "bottom center", showAnimation: 'slideDown', className: 'success' });
                            $("#csv-file-input").val("");  
                        } else {
                            $.notify(res.message, { position: "bottom center", showAnimation: 'slideDown', className: 'error' });
                        }
                    }
                });
            } else {
                alert("No file selected.");
            }
        }
    </script>
}
