@model List<ProjectManagementSystem.Models.WeeklyChecklistTable>
@using System;

@{
    ViewBag.Title = "Project Onboarding";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">@ViewBag.Title</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Dashboard", "Checklist")">Home</a></li>
                    <li class="breadcrumb-item active">Project Onboarding</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <form id="onboardingForm" name="onboardingForm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Start a Project</h4>
                        </div>
                        <div class="modal-body">
                            @Html.AntiForgeryToken()
                            @*@Html.HiddenFor(x => x.checkListID)
                            <div class="form-group">
                                @Html.Label("Project Name")
                                @Html.TextBoxFor(x => x.project_name, new { @class = "form-control", id = "floatingInput", placeholder = "Project Name" })
                                @Html.ValidationMessageFor(x => x.project_name)
                            </div>
                            <div class="form-group">
                                @Html.Label("Project Owner")
                                @Html.TextBoxFor(x => x.project_owner, new { @class = "form-control", id = "floatingInput", placeholder = "Project Owner" })
                                @Html.ValidationMessageFor(x => x.project_owner)
                            </div>
                            <div class="form-group">
                                @Html.Label("Division")
                                @Html.DropDownListFor(x => x.division,
                                new List<SelectListItem>
                                {
                                    new SelectListItem { Value = "ITS" , Text = "Information Technology Services" },
                                    new SelectListItem { Value = "IPD" , Text = "Infrastructure Planning and Development" },
                                    new SelectListItem { Value = "IM" ,  Text = "Integrated Marketing" }
                                }, new { @class = "form-control" })
                            </div>*@
                            <div class="form-group">
                                <label for="csv-file-input">Upload Project Schedule</label><br>
                                <input type="file" id="csv-file-input" accept=".csv" />
                                @*<p class="help-block">Example block-level help text here.</p>*@
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button id="addProjButton" type="button" class="btn btn-primary" onclick="AddProject()">Add</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <div class="row">
            <div class="col-12">
                <div id="chart_container"></div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>

<!--<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <form id="onboardingForm" name="onboardingForm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Cancel a Project</h4>
                        </div>
                        <div class="modal-body">
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <label for="csv-file-input">Project Title</label><br>
                                <select id="cancelSelect" name="cancelSelect">
                                    @{ 
                                        foreach(var item in Model)
                                        {
                                            <option>@item.weeklyTitle</option>
                                        }
                                    }
                                </select>
                                @*<p class="help-block">Example block-level help text here.</p>*@
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button id="cancelProjButton" name="cancelProjButton" type="button" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <div class="row">
            <div class="col-12">
                <div id="chart_container"></div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>-->

@section scripts{
    <!-- jQuery -->
    <script src="~/AdminLTE-3.2.0/plugins/jquery/jquery.min.js"></script>



    <script>
        function AddProject() {
            var form = $('form[name="onboardingForm"]');
            var fileUpload = document.getElementById("csv-file-input");

            //$.validator.unobtrusive.parse(form);
            if (fileUpload.value == null) {
                alert("INCOMPLETE FORM. PLEASE UPLOAD AND/OR FILL UP THE DETAILS");
                return;
            }
            else {
                var data = form.serialize();
                var file = $("#csv-file-input").get(0).files;
                var formData = new FormData();

                if (file.length > 0) {
                    formData.append("pmcsv", file[0]);
                    $.ajax({
                        url: "@Url.Action("AddProjectUpload", "Checklist")",
                        type: "POST",
                        processData: false,
                        contentType: false,
                        data: formData,
                        success: function (res, textStatus, jqXHR) {
                            if (res.status) {
                                $("#myModal").modal('hide');
                                $.notify(res.message, { position: "bottom center", showAnimation: 'slideDown', className: 'success' });
                            } else {
                                $.notify(res.message, { position: "bottom center", showAnimation: 'slideDown', className: 'error' });
                            }
                        }
                    });
                }

                else {
                    alert("NO FILE SELECTED");
                }
            }
        }

        function plotData(data) {
            const chartData = data.map(row => ({
                x: row['XColumnName'],
                y: row['YColumnName']
            }));
            
            // Initialize the chart
            new dhx.Chart("chart_container", {
                type: "timeline",
                xAxis: {
                    title: "X Axis Title"
                },
                yAxis: {
                    title: "Y Axis Title"
                },
                series: [{
                    name: "Series Name",
                    data: chartData
                }]
            });
        }
    </script>

    <script>
        $(document).ready(function () {
            //$('#cancelSelect').change(function () {
            //    alert($('#cancelSelect').val());
            //});

            $('#cancelProjButton').click(function () {

                var cancelOpt = $('#cancelSelect').val();

                $.ajax({
                    type: "post",
                    url: "@Url.Action("Cancellation", "Checklist")",
                    data: { 'cancelOpt': cancelOpt },
                    success: function (res) {
                        if (res.status == true){
                            $.notify(res.message, { position: "bottom center", showAnimation: 'slideDown', className: 'success' });
                        }

                        else {
                            $.notify(res.message, { position: "bottom center", showAnimation: 'slideDown', className: 'error' });
                        }
                    }
                });
            });
        });
    </script>
    }
