@using System.Globalization;
@using System;

@model List<ProjectManagementSystem.Models.ChecklistTable>
@{
    ViewBag.Title = "Checklist";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@*<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <div class="container">
        <div class="row">
            @{
                Calendar Calendar = CultureInfo.InvariantCulture.Calendar;
                DateTime startOfWeek = DateTime.Today.AddDays((int)CultureInfo.CurrentCulture.DateTimeFormat.FirstDayOfWeek - (int)DateTime.Today.DayOfWeek);

                string sun2sat = string.Join("," + Environment.NewLine, Enumerable
                  .Range(0, 7)
                  .Select(i => startOfWeek
                     .AddDays(i)
                     .ToString("dd-MMMM-yyyy")));

                string[] sun2satList = sun2sat.Split(',');

                int weekNumber = Calendar.GetWeekOfYear(DateTime.Now, CalendarWeekRule.FirstFourDayWeek, DayOfWeek.Sunday);

                <div class="center-Item">
                    <label class="content-Title">Currently in Week: @weekNumber</label>
                    <input type="hidden" id="workWeek" name="workWeek" value="@weekNumber" />
                    <input type="hidden" id="workDay" name="workDay" value="@DateTime.Now.Day" />
                    <input type="hidden" id="workYear" name="workYear" value="@DateTime.Now.Year" />
                </div>

            }
            <table id="example" class="table table-bordered" style="width:100%">

                <thead>
                    <tr>
                        <th><input type="checkbox" onclick="checkAll(this)"></th>
                        <th>TITLE</th>
                        <th>SUBCATEGORY TITLE</th>
                        <th>SUB OF SUBCATEGORY TITLE</th>
                        <th>DURATION</th>
                        <th>START DATE</th>
                        <th>TARGET DATE</th>
                        <th>@sun2satList[0]<br /><br />Sunday </th>
                        <th>@sun2satList[1]<br /><br />Monday</th>
                        <th>@sun2satList[2]<br /><br />Tuesday</th>
                        <th>@sun2satList[3]<br /><br />Wednesday</th>
                        <th>@sun2satList[4]<br /><br />Thursday</th>
                        <th>@sun2satList[5]<br /><br />Friday</th>
                        <th>@sun2satList[6]<br /><br />Saturday</th>
                    </tr>
                </thead>

                @{
                    var iterator = 1;
                    var todayIs = (int)Math.Abs(DateTime.Now.Day - 7);

                    foreach (var item in Model)
                    {
                        var hasChildren = false;

                        if (item.projectReference == null && item.parent == null)
                        {
                            var temp = Model.Skip(iterator).FirstOrDefault();

                            if (temp != null)
                            {
                                if (item.id == temp.projectReference)
                                {
                                    hasChildren = true;
                                }
                            }
                        }

                        else if (item.projectReference != null && item.parent == null)
                        {
                            var temp = Model.Skip(iterator).FirstOrDefault();

                            if (temp != null)
                            {
                                if (item.id == temp.parent)
                                {
                                    hasChildren = true;
                                }
                            }
                        }

                        else if (item.parent != null && item.projectReference == null)
                        {
                        }

                        

                                        iterator++;
                                    }

                                    <tfoot>
                                        <tr>
                                            <th></th>
                                            <th>TITLE</th>
                                            <th>SUBCATEGORY TITLE</th>
                                            <th>SUB OF SUBCATEGORY TITLE</th>
                                            <th>DURATION</th>
                                            <th>START DATE</th>
                                            <th>TARGET DATE</th>
                                            <th>Sunday<br /><br />@sun2satList[0] </th>
                                            <th>Monday<br /><br />@sun2satList[1]</th>
                                            <th>Tuesday<br /><br />@sun2satList[2]</th>
                                            <th>Wednesday<br /><br />@sun2satList[3]</th>
                                            <th>Thursday<br /><br />@sun2satList[4]</th>
                                            <th>Friday<br /><br />@sun2satList[5]</th>
                                            <th>Saturday<br /><br />@sun2satList[6]</th>

                                        </tr>
                                    </tfoot>
                }
            </table>
        </div>
    </div>
</body>
</html>


@section scripts{
    <script>
        $(document).ready(function () {
            $(document).on("click", ".confirm-Progress", function (e) {
                var id = $(this).attr("id");
                var wDay = $("#workDay").val();
                var wWeek = $('#workWeek').val();
                var wYear = $('#workYear').val();

                wDay = Math.abs(wDay - 7);

                if ($(this).is(':checked')) {
                    var isChecked = true;

                    $.ajax({
                        url: "@Url.Action("checkUncheck", "Checklist")",
                        type: "POST",
                        data: { workDay: wDay, workWeek: wWeek, check: isChecked, checklist: id, workYear: wYear },
                        success: function (res) {
                            if (res.res == "success") {
                                window.location.reload();
                            }

                            else {
                                alert(res.res);
                            }

                        }

                    });
                }

                else {
                    var isChecked = false;

                    $.ajax({
                        url: "@Url.Action("checkUncheck", "Checklist")",
                        type: "POST",
                        data: { workDay: wDay, workWeek: wWeek, check: isChecked, checklist: id, workYear: wYear },
                        success: function (res) {
                            if (res.res == "success") {
                               window.location.reload();
                            }

                            else {
                                alert(res.res);
                            }

                        }

                    });
                }

            });
        });
    </script>*@
