@using System.Globalization;
@using System;

@model List<ProjectManagementSystem.Models.ChecklistTable>
@{
    ViewBag.Title = "Checklist";
}


<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <div class="container">
        <div class="row">
            @{
                Calendar Calendar = CultureInfo.InvariantCulture.Calendar;
                DateTime startOfWeek = DateTime.Today.AddDays((int)CultureInfo.CurrentCulture.DateTimeFormat.FirstDayOfWeek - (int)DateTime.Today.DayOfWeek);

                string sun2sat = string.Join("," + Environment.NewLine, Enumerable
                  .Range(0, 7)
                  .Select(i => startOfWeek
                     .AddDays(i)
                     .ToString("dd-MMMM-yyyy")));

                string[] sun2satList = sun2sat.Split(',');

                int weekNumber = Calendar.GetWeekOfYear(DateTime.Now, CalendarWeekRule.FirstFourDayWeek, DayOfWeek.Sunday);

                <div class="center-Item">
                    <label class="content-Title">Currently in Week: @weekNumber</label>
                    <input type="hidden" id="workWeek" name="workWeek" value="@weekNumber" />
                    <input type="hidden" id="workDay" name="workDay" value="@DateTime.Now.Day" />
                    <input type="hidden" id="workYear" name="workYear" value="@DateTime.Now.Year" />
                </div>

            }
            <table id="example" class="table table-bordered" style="width:100%">

                <thead>
                    <tr>
                        <th><input type="checkbox" onclick="checkAll(this)"></th>
                        <th>TITLE</th>
                        <th>SUBCATEGORY TITLE</th>
                        <th>SUB OF SUBCATEGORY TITLE</th>
                        <th>DURATION</th>
                        <th>START DATE</th>
                        <th>TARGET DATE</th>
                        <th>@sun2satList[0]<br /><br />Sunday </th>
                        <th>@sun2satList[1]<br /><br />Monday</th>
                        <th>@sun2satList[2]<br /><br />Tuesday</th>
                        <th>@sun2satList[3]<br /><br />Wednesday</th>
                        <th>@sun2satList[4]<br /><br />Thursday</th>
                        <th>@sun2satList[5]<br /><br />Friday</th>
                        <th>@sun2satList[6]<br /><br />Saturday</th>
                    </tr>
                </thead>

                @{
                    var iterator = 1;
                    var todayIs = (int)Math.Abs(DateTime.Now.Day - 7);

                    foreach (var item in Model)
                    {
                        var hasChildren = false;

                        if (item.parentWeeklyReference == null && item.parentSubReference == null)
                        {
                            var temp = Model.Skip(iterator).FirstOrDefault();

                            if (temp != null)
                            {
                                if (item.checkListId == temp.parentWeeklyReference)
                                {
                                    hasChildren = true;
                                }
                            }
                        }

                        else if (item.parentWeeklyReference != null && item.parentSubReference == null)
                        {
                            var temp = Model.Skip(iterator).FirstOrDefault();

                            if (temp != null)
                            {
                                if (item.checkListId == temp.parentSubReference)
                                {
                                    hasChildren = true;
                                }
                            }
                        }

                        else if (item.parentSubReference != null && item.parentWeeklyReference == null)
                        {
                        }

                        <tbody>
                            @*MAIN ACTIVITY TR*@
                            <tr style="background-color: #9201FC" @if (@item.parentWeeklyReference != null || item.parentSubReference != null) { <text> hidden</text>}>
                                <td><input type="checkbox" name=""></td>
                                <th>@item.title</th>
                                <th></th>
                                <th></th>
                                <th>@item.duration</th>
                                <th>@item.startDate</th>
                                <th>@item.targetDate</th>
                                @{

                                    for (var k = 0; k < 7; k++)
                                    {
                                        <th class="th-confirm" style="
                                            @if (@item.parentWeeklyReference == null && item.parentSubReference == null && hasChildren == false)
                                            {
                                                switch (k)
                                                {
                                                    case 0: //Sunday
                                                        if (item.isChecked0 == true && k <= todayIs)
                                                        {
                                                            <text>background-color: green</text>
                                                            break;
                                                        }
                                                        else if (item.isChecked0 == false && k < todayIs)
                                                        {
                                                            <text>background-color: red</text>
                                                            break;
                                                        }
                                                        else
                                                        {
                                                            <text>background-color: white</text>
                                                            break;
                                                        }

                                                    case 1: //Monday
                                                        if (item.isChecked1 == true && k <= todayIs)
                                                        {
                                                            <text>background-color: green</text>
                                                            break;
                                                        }
                                                        else if (item.isChecked1 == false && k < todayIs)
                                                        {
                                                            <text>background-color: red</text>
                                                            break;
                                                        }
                                                        else
                                                        {
                                                            <text>background-color: white</text>
                                                            break;
                                                        }

                                                    case 2: //Tuesday
                                                        if (item.isChecked2 == true && k <= todayIs)
                                                        {
                                                            <text>background-color: green</text>
                                                            break;
                                                        }
                                                        else if (item.isChecked2 == false && k < todayIs)
                                                        {
                                                            <text>background-color: red</text>
                                                            break;
                                                        }
                                                        else
                                                        {
                                                            <text>background-color: white</text>
                                                            break;
                                                        }

                                                    case 3: //Wednesday
                                                        if (item.isChecked3 == true && k <= todayIs)
                                                        {
                                                            <text>background-color: green</text>
                                                            break;
                                                        }
                                                        else if (item.isChecked3 == false && k < todayIs)
                                                        {
                                                            <text>background-color: red</text>
                                                            break;
                                                        }
                                                        else
                                                        {
                                                            <text>background-color: white</text>
                                                            break;
                                                        }

                                                    case 4: //Thursday
                                                        if (item.isChecked4 == true && k <= todayIs)
                                                        {
                                                            <text>background-color: green</text>
                                                            break;
                                                        }
                                                        else if (item.isChecked4 == false && k < todayIs)
                                                        {
                                                            <text>background-color: red</text>
                                                            break;
                                                        }
                                                        else
                                                        {
                                                            <text>background-color: white</text>
                                                            break;
                                                        }

                                                    case 5: //Friday
                                                        if (item.isChecked5 == true && k <= todayIs)
                                                        {
                                                            <text>background-color: green</text>
                                                            break;
                                                        }
                                                        else if (item.isChecked5 == false && k < todayIs)
                                                        {
                                                            <text>background-color: red</text>
                                                            break;
                                                        }
                                                        else
                                                        {
                                                            <text>background-color: white</text>
                                                            break;
                                                        }

                                                    case 6: //Saturday
                                                        if (item.isChecked6 == true && k <= todayIs)
                                                        {
                                                            <text>background-color: green</text>
                                                            break;
                                                        }
                                                        else if (item.isChecked6 == false && k < todayIs)
                                                        {
                                                            <text>background-color: red</text>
                                                            break;
                                                        }
                                                        else
                                                        {
                                                            <text>background-color: white</text>
                                                            break;
                                                        }

                                                    default:
                                                        <text>background-color: white</text>
                                                        break;

                                                }
                                            }
                                            else
                                            {
                                                <text>background-color: black</text>
                                                }">
                                            @if (k == todayIs && @item.parentWeeklyReference == null && item.parentSubReference == null && hasChildren == false)
                                            {
                                                <label>Confirm Daily Progress</label><input type="checkbox" class="confirm-Progress" id="@item.checkListId" checked="@Model.Where(x => x.checkListId == item.checkListId).Select(x => new { isChecked = k == 0 ? x.isChecked0 : k == 1 ? x.isChecked1 : k == 2 ? x.isChecked2 : k == 3 ? x.isChecked3 : k == 4 ? x.isChecked4 : k == 5 ? x.isChecked5 : k == 6 ? x.isChecked6 : false }).FirstOrDefault().isChecked" />
                                            }
                                        </th>
                                    }
                                }
                            </tr>
                            @*SUB-CATEGORY FOR PARENT*@
                            <tr @if (@item.parentWeeklyReference == null) { <text> hidden</text>}>
                                <th></th>
                                <th><span style="font-size: 150%;">&#8627;</span></th>
                                <th>@item.title</th>
                                <th></th>
                                <th>@item.duration</th>
                                <th>@item.startDate</th>
                                <th>@item.targetDate</th>
                                @{
                                    for (var k = 0; k < 7; k++)
                                    {
                                        <th class="th-confirm" data-j="1" style="
                                            @if (@item.parentWeeklyReference != null && hasChildren == false)
                                            {
                                                switch (k)
                                                {
                                                    case 0: //Sunday
                                                        if (item.isChecked0 == true && k <= todayIs)
                                                        {
                                                            <text>background-color: green</text>
                                                            break;
                                                        }
                                                        else if (item.isChecked0 == false && k < todayIs)
                                                        {
                                                            <text>background-color: red</text>
                                                            break;
                                                        }
                                                        else
                                                        {
                                                            <text>background-color: white</text>
                                                            break;
                                                        }

                                                    case 1: //Monday
                                                        if (item.isChecked1 == true && k <= todayIs)
                                                        {
                                                            <text>background-color: green</text>
                                                            break;
                                                        }
                                                        else if (item.isChecked1 == false && k < todayIs)
                                                        {
                                                            <text>background-color: red</text>
                                                            break;
                                                        }
                                                        else
                                                        {
                                                            <text>background-color: white</text>
                                                            break;
                                                        }

                                                    case 2: //Tuesday
                                                        if (item.isChecked2 == true && k <= todayIs)
                                                        {
                                                            <text>background-color: green</text>
                                                            break;
                                                        }
                                                        else if (item.isChecked2 == false && k < todayIs)
                                                        {
                                                            <text>background-color: red</text>
                                                            break;
                                                        }
                                                        else
                                                        {
                                                            <text>background-color: white</text>
                                                            break;
                                                        }

                                                    case 3: //Wednesday
                                                        if (item.isChecked3 == true && k <= todayIs)
                                                        {
                                                            <text>background-color: green</text>
                                                            break;
                                                        }
                                                        else if (item.isChecked3 == false && k < todayIs)
                                                        {
                                                            <text>background-color: red</text>
                                                            break;
                                                        }
                                                        else
                                                        {
                                                            <text>background-color: white</text>
                                                            break;
                                                        }

                                                    case 4: //Thursday
                                                        if (item.isChecked4 == true && k <= todayIs)
                                                        {
                                                            <text>background-color: green</text>
                                                            break;
                                                        }
                                                        else if (item.isChecked4 == false && k < todayIs)
                                                        {
                                                            <text>background-color: red</text>
                                                            break;
                                                        }
                                                        else
                                                        {
                                                            <text>background-color: white</text>
                                                            break;
                                                        }

                                                    case 5: //Friday
                                                        if (item.isChecked5 == true && k <= todayIs)
                                                        {
                                                            <text>background-color: green</text>
                                                            break;
                                                        }
                                                        else if (item.isChecked5 == false && k < todayIs)
                                                        {
                                                            <text>background-color: red</text>
                                                            break;
                                                        }
                                                        else
                                                        {
                                                            <text>background-color: white</text>
                                                            break;
                                                        }

                                                    case 6: //Saturday
                                                        if (item.isChecked6 == true && k <= todayIs)
                                                        {
                                                            <text>background-color: green</text>
                                                            break;
                                                        }
                                                        else if (item.isChecked6 == false && k < todayIs)
                                                        {
                                                            <text>background-color: red</text>
                                                            break;
                                                        }
                                                        else
                                                        {
                                                            <text>background-color: white</text>
                                                            break;
                                                        }

                                                    default:
                                                        <text>background-color: white</text>
                                                        break;

                                                }
                                            }
                                            else
                                            {
                                                <text>background-color: black</text>
                                            }">
                                            @if (k == todayIs && item.parentWeeklyReference != null && hasChildren == false)
                                            {
                                                <label>Confirm Daily Progress</label><input type="checkbox" class="confirm-Progress" id="@item.checkListId" checked="@Model.Where(x => x.checkListId == item.checkListId).Select(x => new { isChecked = k == 0 ? x.isChecked0 : k == 1 ? x.isChecked1 : k == 2 ? x.isChecked2 : k == 3 ? x.isChecked3 : k == 4 ? x.isChecked4 : k == 5 ? x.isChecked5 : k == 6 ? x.isChecked6 : false }).FirstOrDefault().isChecked" />
                                            }
                                        </th>
                                    }
                                }
                            </tr>
                            @*SUB OF SUB CATEGORY*@
                            <tr @if (@item.parentSubReference == null) { <text> hidden</text>}>
                                <th></th>
                                <th></th>
                                <th><span style="font-size: 150%;">&#8627;</span></th>
                                <th>@item.title</th>
                                <th>@item.duration</th>
                                <th>@item.startDate</th>
                                <th>@item.targetDate</th>
                                @{
                                    for (var k = 0; k < 7; k++)
                                    {
                                        <th class="th-confirm" style="
                                            @if (@item.parentSubReference != null && hasChildren == false)
                                            {
                                                switch (k)
                                                {
                                                    case 0: //Sunday
                                                        if (item.isChecked0 == true && k <= todayIs)
                                                        {
                                                            <text>background-color: green</text>
                                                            break;
                                                        }
                                                        else if (item.isChecked0 == false && k < todayIs)
                                                        {
                                                            <text>background-color: red</text>
                                                            break;
                                                        }
                                                        else
                                                        {
                                                            <text>background-color: white</text>
                                                            break;
                                                        }

                                                    case 1: //Monday
                                                        if (item.isChecked1 == true && k <= todayIs)
                                                        {
                                                            <text>background-color: green</text>
                                                            break;
                                                        }
                                                        else if (item.isChecked1 == false && k < todayIs)
                                                        {
                                                            <text>background-color: red</text>
                                                            break;
                                                        }
                                                        else
                                                        {
                                                            <text>background-color: white</text>
                                                            break;
                                                        }

                                                    case 2: //Tuesday
                                                        if (item.isChecked2 == true && k <= todayIs)
                                                        {
                                                            <text>background-color: green</text>
                                                            break;
                                                        }
                                                        else if (item.isChecked2 == false && k < todayIs)
                                                        {
                                                            <text>background-color: red</text>
                                                            break;
                                                        }
                                                        else
                                                        {
                                                            <text>background-color: white</text>
                                                            break;
                                                        }

                                                    case 3: //Wednesday
                                                        if (item.isChecked3 == true && k <= todayIs)
                                                        {
                                                            <text>background-color: green</text>
                                                            break;
                                                        }
                                                        else if (item.isChecked3 == false && k < todayIs)
                                                        {
                                                            <text>background-color: red</text>
                                                            break;
                                                        }
                                                        else
                                                        {
                                                            <text>background-color: white</text>
                                                            break;
                                                        }

                                                    case 4: //Thursday
                                                        if (item.isChecked4 == true && k <= todayIs)
                                                        {
                                                            <text>background-color: green</text>
                                                            break;
                                                        }
                                                        else if (item.isChecked4 == false && k < todayIs)
                                                        {
                                                            <text>background-color: red</text>
                                                            break;
                                                        }
                                                        else
                                                        {
                                                            <text>background-color: white</text>
                                                            break;
                                                        }

                                                    case 5: //Friday
                                                        if (item.isChecked5 == true && k <= todayIs)
                                                        {
                                                            <text>background-color: green</text>
                                                            break;
                                                        }
                                                        else if (item.isChecked5 == false && k < todayIs)
                                                        {
                                                            <text>background-color: red</text>
                                                            break;
                                                        }
                                                        else
                                                        {
                                                            <text>background-color: white</text>
                                                            break;
                                                        }

                                                    case 6: //Saturday
                                                        if (item.isChecked6 == true && k <= todayIs)
                                                        {
                                                            <text>background-color: green</text>
                                                            break;
                                                        }
                                                        else if (item.isChecked6 == false && k < todayIs)
                                                        {
                                                            <text>background-color: red</text>
                                                            break;
                                                        }
                                                        else
                                                        {
                                                            <text>background-color: white</text>
                                                            break;
                                                        }

                                                    default:
                                                        <text>background-color: white</text>
                                                        break;

                                                }
                                            }
                                            else
                                            {
                                                <text>background-color: black</text>
                                            }">
                                            @if (k == todayIs && item.parentSubReference != null && hasChildren == false)
                                            {
                                                <label>Confirm Daily Progress</label><input type="checkbox" class="confirm-Progress" id="@item.checkListId" checked="@Model.Where(x => x.checkListId == item.checkListId).Select(x => new { isChecked = k == 0 ? x.isChecked0 : k == 1 ? x.isChecked1 : k == 2 ? x.isChecked2 : k == 3 ? x.isChecked3 : k == 4 ? x.isChecked4 : k == 5 ? x.isChecked5 : k == 6 ? x.isChecked6 : false }).FirstOrDefault().isChecked" />
                                            }
                                        </th>
                                    }
                                }
                            </tr>
                        </tbody>

                                        iterator++;
                                    }

                                    <tfoot>
                                        <tr>
                                            <th></th>
                                            <th>TITLE</th>
                                            <th>SUBCATEGORY TITLE</th>
                                            <th>SUB OF SUBCATEGORY TITLE</th>
                                            <th>DURATION</th>
                                            <th>START DATE</th>
                                            <th>TARGET DATE</th>
                                            <th>Sunday<br /><br />@sun2satList[0] </th>
                                            <th>Monday<br /><br />@sun2satList[1]</th>
                                            <th>Tuesday<br /><br />@sun2satList[2]</th>
                                            <th>Wednesday<br /><br />@sun2satList[3]</th>
                                            <th>Thursday<br /><br />@sun2satList[4]</th>
                                            <th>Friday<br /><br />@sun2satList[5]</th>
                                            <th>Saturday<br /><br />@sun2satList[6]</th>

                                        </tr>
                                    </tfoot>
                }
            </table>
        </div>
    </div>
</body>
</html>


@section scripts{
    <script>
        $(document).ready(function () {
            $(document).on("click", ".confirm-Progress", function (e) {
                var checklistId = $(this).attr("id");
                var wDay = $("#workDay").val();
                var wWeek = $('#workWeek').val();
                var wYear = $('#workYear').val();

                wDay = Math.abs(wDay - 7);

                if ($(this).is(':checked')) {
                    var isChecked = true;

                    $.ajax({
                        url: "@Url.Action("checkUncheck", "Checklist")",
                        type: "POST",
                        data: { workDay: wDay, workWeek: wWeek, check: isChecked, checklist: checklistId, workYear: wYear },
                        success: function (res) {
                            if (res.res == "success") {
                                window.location.reload();
                            }

                            else {
                                alert(res.res);
                            }

                        }

                    });
                }

                else {
                    var isChecked = false;

                    $.ajax({
                        url: "@Url.Action("checkUncheck", "Checklist")",
                        type: "POST",
                        data: { workDay: wDay, workWeek: wWeek, check: isChecked, checklist: checklistId, workYear: wYear },
                        success: function (res) {
                            if (res.res == "success") {
                               window.location.reload();
                            }

                            else {
                                alert(res.res);
                            }

                        }

                    });
                }

            });
        });
    </script>
}