@model ProjectManagementSystem.Models.DashboardViewModel
@using System.Globalization;
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<style>
    .dashboard-container {
        padding: 10px;
        margin-left: 160px;
    }


    .card {
        border-radius: 25px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        
        /*margin-bottom: 20px;*/
       
        border: none;
    }

    .card-success {
        background-color: #4CAF50;
    }

    .card-warning {
        background-color: #FFC107;
    }

    .card-info {
        background-color: #673AB7;
    }

    .card-primary {
        background-color: #9C27B0;
    }

    .card-body {
        padding: 15px;
        color: #fff;
    }

    .card-title {
        font-size: 2.5rem;
        font-weight:bold;
        margin-bottom: 15px;
    }

    .card-text {
        font-size: 1.75rem;
        /*font-weight: bold;*/
    }

    .row {
        margin-top: 20px;
    }

    h2 {
        font-size: 2.5rem;
        margin-bottom: 40px;
        text-align: center;
        color: #4A148C;
    }

    h4 {
        font-size: 2rem;
        margin-bottom: 30px;
        color: #311B92;
    }

    .table {
        
        width: 100%;
        border-collapse: collapse;
        margin-top: 30px;
    }

        .table th, .table td {
            padding: 12px;
            text-align: center;
            border: 2px solid #D1C4E9;
        }

        .table th {
            background-color: #66339A;
            color: #fff;
        }

        .table td {
            background-color: #EDE7F6;
            color: #333;
        }

        .table tr:nth-child(even) {
            background-color: #D1C4E9;
        }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        min-width: 150px;
    }

        td:first-child, th:first-child {
            position: -webkit-sticky;
            position: sticky;
            left: 0;
            z-index: 2;
            border-right: 2px solid #ddd;
        }

    h2 {
        font-weight: bold;
    }

    .table-container {
        overflow-x: auto;
        white-space: nowrap;
    }

    .table th, .table td {
        padding: 12px;
        text-align: center;
        border: 2px solid #D1C4E9;
    }

        .table th:nth-child(-n+4),
        .table td:nth-child(-n+4) {
            position: -webkit-sticky;
            position: sticky;
            z-index: 5;
        }

        .table th:nth-child(-n+4),
        .table td:nth-child(-n+4) {
            border-right: 2px solid #D1C4E9;
        }

    .card:hover,
    .card:focus {
        /*background-color: #e9ecef;*/
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        outline: none;
    }

    .sticky-col {
        position: -webkit-sticky;
        position: sticky;
    }

    .first-col {
        width: 300px;
        min-width: 300px;
        max-width: 300px;
        left: 0px;
    }

    .fifth-col {
        display: none;
    }

</style>

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="m-0">@ViewBag.Title</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Dashboard", "Checklist")">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-success h-100">
                    <div class="card-body">
                        <h3 class="card-title">@Model.CompletedTasks</h3>
                        <p class="card-text">Completed Tasks</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-warning h-100">
                    <div class="card-body">
                        <h3 class="card-title">@Model.PendingTasks</h3>
                        <p class="card-text">Pending Tasks</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-info h-100">
                    <div class="card-body">
                        <h3 class="card-title">@Model.TotalTasks</h3>
                        <p class="card-text">Total Tasks</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-primary h-100">
                    <div class="card-body">
                        <h3 class="card-title">Week @Model.CurrentWeek</h3>
                        <p class="card-text">Current Week</p>
                    </div>
                </div>
            </div>
        </div>

        <!--table-->
        <div class="row">
            <div class="col-lg-12">
                <div class="table-container" style="overflow:auto">
                    <table class="table table-bordered" id="checklistTable">
                        <thead>
                            <tr>
                                <th class="sticky-col fifth-col">ID</th>
                                <th class="sticky-c ol first-col">TITLE</th>
                                <th class="sticky-col second-col">DURATION</th>
                                <th class="sticky-col third-col">START DATE</th>
                                <th class="sticky-col fourth-col">TARGET DATE</th>
                                @for (var j = 0; j < 52; j++)
                                {
                                    <th class="weeks">Week @(j + 1)</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.WeeklyChecklists)
                            {
                                <tr>
                                    <td class="sticky-col fifth-col">@item.weeklyID</td>
                                    <td class="sticky-col first-col">@item.weeklyTitle</td>
                                    <td class="sticky-col second-col">@item.weeklyDuration days</td>
                                    <td class="sticky-col third-col">@item.weeklyStart.ToString("MMMM dd, yyyy")</td>
                                    <td class="sticky-col fourth-col">@item.weeklyTarget.ToString("MMMM dd, yyyy")</td>
                                    @{
                                        var calendar = CultureInfo.InvariantCulture.Calendar;
                                        int startWeekNumber = calendar.GetWeekOfYear(item.weeklyStart, CalendarWeekRule.FirstFourDayWeek, DayOfWeek.Monday);
                                        int targetWeekNumber = calendar.GetWeekOfYear(item.weeklyTarget, CalendarWeekRule.FirstFourDayWeek, DayOfWeek.Monday);
                                        for (var k = 1; k <= 52; k++)
                                        {
                                            var bgColor = "white";

                                            if (k == startWeekNumber || (k > startWeekNumber && k < targetWeekNumber) || k == targetWeekNumber)
                                            {
                                                bgColor = k < Model.CurrentWeek && item.isCompleted.HasValue && !item.isCompleted.Value ? "red"
                                                           : k > Model.CurrentWeek ? "white"
                                                           : "green";
                                            }
                                            <td style="background-color:@bgColor" name="@(item.weeklyID)" id="@(item.weeklyTitle)" value="@(k)" onclick="toDetailedView(this.getAttribute('value'), this.id, this.getAttribute('name'))"></td>
                                        }
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content -->
@section scripts{
    <!-- jQuery -->
    <script src="~/AdminLTE-3.2.0/plugins/jquery/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            var currentWeek = @Model.CurrentWeek;

            var table = $('#checklistTable');
            var targetColumn = table.find('.weeks').eq(currentWeek - 3);
            console.log(targetColumn)

            if (targetColumn.length) {
                $('.table-container').animate({
                    scrollLeft: targetColumn.position().left
                }, 2000);
            }
        });

        function toDetailedView(value, id, name) {

            window.location.href = "@Url.Action("weeklyMilestone", "Checklist")?id="+ value +"&title="+ id + "&projectId=" + name;
        }


    </script>

}
