@{
    var isPMSManagement = User.IsInRole("PMS_Management");
    var isPMS_ODCP_Admin = User.IsInRole("PMS_ODCP_ADMIN");
    var isPMS_Project_Manager = User.IsInRole("PMS_PROJECT_MANAGER");
    var isPMS_Project_Admin = User.IsInRole("PMS_PROJECT_ADMIN");
}

<!-- Main Sidebar Container -->
<aside class="main-sidebar elevation-4 sidebar-light-white">
    <!-- Brand Logo -->
    <a href="@Url.Action("Dashboard", "Checklist")" class="brand-link d-flex align-items-center">
        <img src="https://home.enchantedkingdom.ph/intranet/Images/ek_logo.png" alt="EK-PMS Logo" @*class="brand-image img-circle elevation-3"*@ style="opacity: 1; height: 40px; width: 40px; object-fit: cover; margin-right: 10px;">
        <span class="brand-text font-weight-light" style="font-size: 0.85rem; color: #333; white-space: nowrap;">Project Management <br /> System</span>
    </a>

    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column small-font" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Panels Section -->

                <!-- Dashboard for Management-->
                @if (User.IsInRole("PMS_Management") || User.IsInRole("PMS_ODCP_ADMIN") || User.IsInRole("PMS_DIVISION_HEAD"))
                {
                    if (User.IsInRole("PMS_Management") || User.IsInRole("PMS_ODCP_ADMIN"))
                    {
                        <li class="nav-header">Management</li>
                    }
                    else
                    {
                        <li class="nav-header">Division Head</li>
                    }

                    <li class="nav-item">
                        <a href="@Url.Action("DashboardManagement", "Checklist")" class="nav-link">
                            <i class="nav-icon fas fa-users"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                }

                <!-- Dashboard for Project Managers -->
                @if (@*!isPMSManagement ||*@ isPMS_ODCP_Admin || isPMS_Project_Manager || isPMS_Project_Admin)
                {
                    <li class="nav-header">Panels</li>
                    <li class="nav-item">
                        <a href="@Url.Action("Dashboard", "Checklist")" class="nav-link">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("AddProject", "Checklist")" class="nav-link">
                            <i class="nav-icon fas fa-plus-circle"></i>
                            <p>Project Onboarding</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("ActivityView", "Checklist", new { user = User.Identity.Name.ToString() })" class="nav-link">
                            <i class="nav-icon fas fa-list"></i>
                            <p>Activity Logs</p>
                        </a>
                    </li>
                }

                <!-- Report Section -->
               
                @if (isPMSManagement || isPMS_ODCP_Admin || isPMS_Project_Admin)
                {
                    <li class="nav-header">Report</li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "PMReports")" class="nav-link">
                            <i class="nav-icon fas fa-chart-pie"></i>
                            <p>Reports</p>
                        </a>
                    </li>
                }
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
</aside>

<style>
    .main-sidebar {
        background-color: #ffffff !important;
    }

    .sidebar {
        background-color: #ffffff;
    }

    .brand-link {
        background-color: #f5f5f5;
        color: #333;
    }

    .brand-text {
        font-size: 1rem;
        font-weight: bold; 
    }

    .nav-sidebar .nav-link {
        padding: 8px 10px;
        font-size: 0.85rem;
        color: #4a4a4a;
        border-left: 4px solid transparent;
        transition: all 0.3s;
        font-weight: normal; 
    }

        .nav-sidebar .nav-link .nav-icon {
            margin-right: 8px;
            color: #666;
            font-size: 1rem;
        }

    .nav-sidebar .nav-link:hover {
        color: #66339A;
        background-color: #f9f9f9;
    }

    .nav-header {
        color: #888;
        font-size: 0.8rem;
        margin: 8px 0;
        text-transform: uppercase;
        font-weight: normal; 
    }

    .dot {
        height: 8px;
        width: 8px;
        display: inline-block;
        border-radius: 50%;
        margin-right: 8px;
    }

    .nav-header + .nav-item {
        margin-top: 8px;
    }

</style>
