
<!-- Main Sidebar Container -->
<aside class="main-sidebar elevation-4 sidebar-light-purple">
    <!-- Brand Logo -->
    <a href="@Url.Action("Dashboard", "Checklist")" class="brand-link">
        <img src="~/AdminLTE-3.2.0/dist/img/29th-Logo.png" alt="29th-Logo" class="brand-image img-circle elevation-3" style="opacity: .9">
        <span class="brand-text font-weight-light">EK-PMS</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column small-font" data-widget="treeview" role="menu" data-accordion="false">
                <!-- sidebar panel -->
                <li class="nav-header">Panels</li>
                <li class="nav-item">
                    <a href="@Url.Action("Dashboard", "Checklist")" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>Dashboard</p>
                    </a>
                </li>

                <!-- Project Onboarding Section -->
                <li class="nav-item">
                    <a href="@Url.Action("AddProject", "Checklist")" class="nav-link">
                        <i class="nav-icon fas fa-plus-circle"></i>
                        <p>Project Onboarding <i class="right fas fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="@Url.Action("AddProject", "Checklist")" class="nav-link">
                                <i class="nav-icon fas fa-plus-circle"></i>
                                <p>Project Onboarding Form</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="@Url.Action("ActivityView", "Checklist", new { user = User.Identity.Name.ToString() })" class="nav-link">
                        <i class="nav-icon fas fa-list"></i>
                        <p>Activity Logs</p>
                    </a>
                </li>

                <!-- Admin Section -->
                @*<li class="nav-header">Admin</li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-user-tie"></i>
                <p>Admin <i class="right fas fa-angle-left"></i></p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="@Url.Action("Register", "Admin")" class="nav-link">
                        <i class="far fa-edit nav-icon"></i>
                        <p>Project Registration</p>
                    </a>
                </li>
            </ul>
        </li>*@

                <!-- Report Section -->
                <li class="nav-header">Report</li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-chart-pie"></i>
                        <p>Reports <i class="right fas fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "PMReports")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Report 1</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "PMReports")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Report 2</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- Logout -->
                @*<li class="nav-item">
            <a href="@Url.Action("Logout", "Account")" class="nav-link">
                <i class="nav-icon fas fa-power-off"></i>
                <p>Log out</p>
            </a>
        </li>*@

                <!-- Invite Teammates Section at the Bottom -->
                @*<li class="nav-item mt-4">
            <a href="@Url.Action("Invite", "Teammates")" class="nav-link invite-link">
                <i class="nav-icon fas fa-user-plus"></i>
                <p>Invite Teammates</p>
            </a>
        </li>*@
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
<style>
    .main-sidebar {
        background-color: #ffffff !important;
    }

    .sidebar {
        background-color: #ffffff; 
    }

    .small-font .nav-link, .small-font .nav-header {
        font-size: 0.85rem;
        color: #333;
    }

    .nav-sidebar .nav-link {
        padding: 8px 15px;
        color: #4a4a4a;
        border-left: 4px solid transparent;
        display: flex;
        align-items: center;
        transition: all 0.3s;
    }

    .nav-sidebar .nav-icon {
        font-size: 1.2rem;
        color: #666;
        margin-right: 10px;
    }

    .nav-sidebar .nav-link:hover {
        color: #66339A;
        border-left: 4px solid #66339A;
        background-color: #f9f9f9;
    }

    .sidebar .nav-item a.nav-link.invite-link {
        color: #ffffff;
        background-color: #66339A;
        border-radius: 5px;
        margin-top: 10px;
        padding: 10px;
        text-align: center;
    }

    .sidebar .nav-item a.nav-link.invite-link:hover {
        background-color: #532c7e;
    }


</style>

