@{
    // Retrieve logged-in user's name and email
    var userName = User.Identity.Name ?? "Guest";
}

<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <!-- User Dropdown Menu with Tooltip -->
        <li class="nav-item dropdown" id="adminDropdown">
            <a class="nav-link" data-toggle="dropdown" href="#" role="button" data-toggle="tooltip" data-placement="bottom" title="@userName 
               My workspace">
                <div style="display: flex; align-items: center;">
                    <span class="avatar-circle" style="background-color: #66339A; width: 30px; height: 30px; border-radius: 50%; display: flex; align-items: center; justify-content: center; font-weight: bold; color: #fff; margin-right: 5px;">
                        @userName.Substring(0, 1).ToUpper()
                    </span>
                    <i class="fas fa-angle-down ml-1"></i>
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right" style="width: 250px; padding: 10px;">
                <div class="text-center mb-3">
                    <div class="avatar-circle" style="background-color: #66339A; width: 50px; height: 50px; border-radius: 50%; display: flex; align-items: center; justify-content: center; font-weight: bold; color: #fff; margin: auto;">
                        @userName.Substring(0, 1).ToUpper()
                    </div>
                    <small class="d-block mt-2">@userName</small>
                </div>
                @*<div class="dropdown-divider"></div>*@

                <div class="dropdown-divider"></div>
                      @if (User.IsInRole("PMS_PROJECT_OWNER") || User.IsInRole("PMS_PROJECT_MANAGER") || User.IsInRole("PMS_ODCP_ADMIN"))
                      {

                        <a href="@Url.Action("InviteTeammates", "Checklist")" class="dropdown-item">
                            <i class="fas fa-user-plus mr-2"></i> Invite Teammates
                        </a>
                        <a href="@Url.Action("ChecklistSetup", "Admin")" class="dropdown-item">
                            <i class="fas fa-tasks mr-2"></i>Checklist Setup
                        </a>
                        <a href="@Url.Action("Register", "Admin")" class="dropdown-item">
                            <i class="fas fa-cogs mr-2"></i>Project Registration
                        </a>
                        <a href="@Url.Action("AddProject", "Checklist")" class="dropdown-item">
                            <i class="fas fa-plus-circle mr-2"></i>Project Onboarding
                        </a>
                        <a href="@Url.Action("RoleConfiguration", "Admin")" class="dropdown-item">
                            <i class="fas fa-user mr-2"></i> Role Configuration
                        </a>
                        <a href="@Url.Action("ChecklistSettings", "Admin")" class="dropdown-item">
                            <i class="fas fa-pen-square mr-2"></i> Checklist Settings
                        </a>
                        <div class="dropdown-divider"></div>

                      }


             
                <a href="@Url.Action("Logout", "Account")" class="dropdown-item">
                    <i class="fas fa-sign-out-alt mr-2"></i> Log out
                </a>
            </div>
        </li>
    </ul>
</nav>
<!-- /.navbar -->

<style>
    .dropdown-menu .dropdown-item {
        padding: 8px 15px;
        font-size: 0.9rem;
        color: #4a4a4a;
        transition: background-color 0.2s;
    }

    .dropdown-menu .dropdown-item:hover {
        background-color: #f5f5f5;
    }

    .avatar-circle {
        background-color: #470A67;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: #fff;
    }
</style>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
